# =========================
# Python环境
# =========================
.venv/
env/

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Python缓存
# =========================
__pycache__/
*.pyc

# =========================
# 数据文件（重点！！！）
# =========================
data/
*.csv

# =========================
# 模型文件
# =========================
checkpoints/
*.bin
*.pt

# =========================
# HuggingFace缓存
# =========================
hf_cache/
.cache/

# =========================
# 临时文件
# =========================
*.log
*.tmp

# =========================
# 系统文件
# =========================
.DS_Store
Thumbs.db